<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'list' %}">Todo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Source code</a>
      </li>
      
      
    </ul>
    {% if request.user.is_authenticated %}
    <form class="form-inline my-2 my-lg-0">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      <a class="btn btn-outline-warning" style="margin-left: 15px" href="{% url 'logout' %}">Logout</a></li>
       
    {% else %}
    
    <a class="btn btn-outline-info" href="{% url 'register' %}">Register</a>
    <a class="btn btn-outline-info" style="margin-left: 15px" href="">Login</a>
   
  </div>
  {% endif %}
</nav>